.version.index {
  color: #000015;
  background-color: #d5f802;
}
.neuronapng {
  position: absolute;
  right: 20px;
  bottom: 200px;
}
.js body {
  visibility: hidden;
}
.js body.initialized {
  visibility: visible;
}
#page {
  width: 100%;
  margin-left: auto;
  background-color: transparent;
  z-index: 1;
  background-image: none;
  border-color: #000000;
  margin-right: auto;
  border-width: 0px;
}
#pu923 {
  z-index: 4;
}
#u923 {
  z-index: 4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  background: transparent url("../images/tota_curv2.png?crc=3950812738")
    no-repeat left center;
  background-size: cover;
}

#u950-10 {
  display: block;
  position: relative;
  z-index: 42;
  vertical-align: top;
}
#u958 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  max-width: 80vw;
  position: relative;
  filter: alpha(opacity=100);
  opacity: 1;
  z-index: 52;
  background: transparent url("../images/tmf.gif?crc=77644541") no-repeat center
    center;
  background-size: contain;
}
#u269 {
  opacity: 1;
  z-index: 5;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  background: transparent
    url("../images/thinkstockphotos-896358722.jpg?crc=383086646") no-repeat
    center center;
  background-size: cover;
}
#pu7715 {
  z-index: 115;
}
#u7715 {
  margin-right: -10000px;
  position: relative;
  z-index: 115;
  background-color: #ffffff;
}
#u7709 {
  z-index: 116;
  background-position: center center;
  background-color: transparent;
  position: relative;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  margin-top: 6px;
  filter: alpha(opacity=100);
  margin-right: -10000px;
  background-repeat: no-repeat;
  opacity: 1;
  background-size: contain;
}
#u352-8 {
  display: block;
  position: relative;
  z-index: 6;
  vertical-align: top;
}
#u375-4 {
  display: block;
  position: relative;
  z-index: 14;
  vertical-align: top;
}
#u269-bw {
  z-index: 5;
}
#u628 {
  z-index: 18;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  background: transparent url("../images/tota_curv.png?crc=3814454049")
    no-repeat center center;
  background-size: cover;
}
#u693-6 {
  display: block;
  position: relative;
  z-index: 30;
  vertical-align: top;
}
#u679-11 {
  display: block;
  position: relative;
  z-index: 19;
  vertical-align: top;
}
#u949-6 {
  display: block;
  position: relative;
  z-index: 36;
  vertical-align: top;
}
#u1060 {
  z-index: 53;
  background-position: center center;
  background-color: transparent;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  background-repeat: no-repeat;
  opacity: 1;
  background-size: contain;
}
#u1132-4 {
  display: block;
  position: relative;
  z-index: 54;
  vertical-align: top;
}
#u3068 {
  min-height: 600px;
  z-index: 3;
  position: relative;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  background: transparent url("../images/ambas.png?crc=4161899542") no-repeat
    left top;
  background-size: cover;
}
#u3092 {
  position: relative;
  z-index: 79;
  height: 5px;
}
.ie #u3092 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  opacity: 0.01;
  filter: alpha(opacity=1);
  background-color: #ffffff;
}
#u3100-8 {
  display: block;
  position: relative;
  z-index: 89;
  vertical-align: top;
}
#u3096-9 {
  display: block;
  position: relative;
  z-index: 80;
  vertical-align: top;
}
#slideshowu1285 {
  position: relative;
  z-index: 58;
}
#u1293 {
  background-color: transparent;
  position: absolute;
}
#u1293popup {
  z-index: 59;
}
#u1298 {
  border-width: 0px;
  width: 80vw;
  background-color: transparent;
  position: relative;
  z-index: 60;
  border-color: transparent;
  margin-right: -10000px;
}
#u1450 {
  border-width: 0px;
  width: 80vw;
  background-color: transparent;
  position: relative;
  z-index: 62;
  border-color: transparent;
  margin-right: -10000px;
}
#u1481 {
  border-width: 0px;
  width: 80vw;
  background-color: transparent;
  position: relative;
  z-index: 64;
  border-color: transparent;
  margin-right: -10000px;
}
#u1512 {
  border-width: 0px;
  width: 80vw;
  background-color: transparent;
  position: relative;
  z-index: 66;
  border-color: transparent;
  margin-right: -10000px;
}
#u1543 {
  border-width: 0px;
  width: 80vw;
  background-color: transparent;
  position: relative;
  z-index: 68;
  border-color: transparent;
  margin-right: -10000px;
}
#u1310-4popup {
  margin-right: -10000px;
  z-index: 70;
}
#u1310-4,
#u1292-4 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  background-position: center center;
  background-color: transparent;
  position: absolute;
  filter: alpha(opacity=100);
  background-repeat: no-repeat;
  padding-bottom: 10px;
  padding-top: 10px;
  opacity: 1;
  border-color: transparent;
  border-width: 0px;
  background-size: contain;
}
#u1292-4popup {
  margin-right: -10000px;
  z-index: 74;
}
#u1310-3,
#u1292-3 {
  color: #ffffff;
  font-size: 44px;
  text-align: center;
  line-height: 62px;
  font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}
.SSFirstButton,
.SSPreviousButton,
.SSNextButton,
.SSLastButton,
.SSSlideLink,
.SSCloseButton {
  cursor: pointer;
}
.SSSlideLoading {
  background: url("../images/loading.gif?crc=3815509949") no-repeat center
    center;
}
#u3080 {
  z-index: 78;
  background-position: center center;
  background-color: transparent;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  background-repeat: no-repeat;
  opacity: 1;
  background-size: contain;
}
#u3104-9 {
  display: block;
  position: relative;
  z-index: 97;
  vertical-align: top;
}
#buttonu3108 {
  left: 0%;
  border-radius: 10px;
  background-color: #16304f;
  position: relative;
  z-index: 106;
  border-color: #787878;
}
#buttonu3108:hover {
  min-height: 0px;
  margin-bottom: 0px;
  background-color: #141414;
  margin-right: 0px;
}
#buttonu3108.ButtonSelected {
  min-height: 0px;
  left: 0%;
  background-color: #16304f;
  margin-bottom: 0px;
  margin-right: 0px;
}
#u3109 {
  background-position: center;
  background-color: transparent;
  position: relative;
  vertical-align: top;
  margin-right: -10000px;
  background-repeat: no-repeat;
  margin-top: 24px;
  z-index: 108;
}
#buttonu3108:hover #u3109 {
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
}
#u269_align_to_page,
#u135_align_to_page {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
#u7595-5 {
  min-height: 38px;
  margin-right: -10000px;
  position: relative;
  z-index: 110;
  background-color: transparent;
}
#u7595-2 {
  color: #0071bc;
}
#u135,
#u135-bw {
  z-index: 2;
}
.html {
  background-color: #ffffff;
}
body {
  position: relative;
}
@media (min-width: 1069px), print {
  #muse_css_mq {
    background-color: #ffffff;
  }
  #bp_infinity.active {
    display: block;
  }
  #page {
    min-height: 3526px;
  }
  #ppu269 {
    z-index: 0;
    margin-right: -10000px;
    width: 100%;
  }
  #pu269 {
    z-index: 5;
    width: 100%;
  }
  #u269 {
    min-height: 735.6px;
    padding-bottom: 0px;
  }
  #u269_align_to_page {
    padding-top: 14px;
    padding-bottom: 96px;
  }
  #pu7715 {
    position: relative;
    width: 100%;
  }
  #u7715 {
    width: 16.45%;
    left: 1.34%;
  }
  #u7715 .fluid_height_spacer {
    padding-bottom: 32.79352226720648%;
  }

  #u7709 .fluid_height_spacer {
    padding-bottom: 30.364372469635626%;
  }
  #u352-8 {
    margin-top: 96px;
    width: 31.96%;
    left: 12.39%;
  }
  #u375-4 {
    margin-top: 129px;
    width: 70.44%;
    margin-left: 14.79%;
    left: -25px;
  }
  #u269-bw {
    min-height: 735.6px;
    left: 0px;
    margin-left: 0px;
  }
  #u628 {
    padding-bottom: 200px;
    position: relative;
    margin-right: -10000px;
    margin-top: 726px;
    width: 100%;
    left: 0%;
    margin-left: 0%;
  }
  #u693-6 {
    margin-right: -10000px;
    margin-top: 222px;
    left: 251px;
    width: 23.31%;
  }
  #u679-11 {
    margin-right: -10000px;
    margin-top: 64px;
    width: 32.76%;
    margin-left: 33.63%;
    left: 330px;
  }
  #u949-6 {
    margin-right: -10000px;
    margin-top: 1346px;
    margin-left: 50%;
    left: -608px;
  }
  #u950-10 {
    margin-right: -10000px;
    margin-top: 1517px;
    width: 37.82%;
    left: 8.06%;
    margin-left: 0%;
  }
  #u958 {
    width: 390px;
    height: 303px;
    margin-right: -10000px;
    margin-top: 1324px;
    margin-left: 50%;
    left: 120px;
  }
  #u1060 {
    height: 298px;
    background-image: url("../images/logo_full-u1060-fr.png?crc=4085152681");
    position: relative;
    margin-right: -10000px;
    margin-top: 1819px;
    width: 20.22%;
    left: 65.47%;
    margin-left: 0%;
  }
  #u1132-4 {
    margin-right: -10000px;
    margin-top: 1960px;
    width: 40.95%;
    left: 6.8%;
    margin-left: 0%;
  }
  #slideshowu1285 {
    margin-top: 12px;
    width: 75.84%;
    left: 0%;
    margin-left: 14.79%;
  }
  #u1310-4 {
    min-height: 57px;
    background-image: url("../images/circulo.png?crc=4058309779");
    width: 100%;
  }
  #u1310-4popup {
    margin-top: 100px;
    height: 77px;
    width: 7.2%;
  }
  #u1310-3 {
    margin-left: 12.18%;
    margin-right: 12.178883439966228%;
  }
  #u1293popup {
    width: 891px;
    height: 376px;
    margin-right: -10000px;
    margin-left: 7.99%;
  }
  #u1293,
  #u1298,
  #u1450,
  #u1481,
  #u1512,
  #u1543 {
    width: 891px;
    height: 376px;
    text-align: center;
  }
  #u1298_img,
  #u1450_img,
  #u1481_img,
  #u1512_img,
  #u1543_img {
    margin-left: 10%;
    width: 70%;
    height: 70%;
  }
  #u1292-4 {
    margin-top: -100%;
    min-height: 58px;
    background-image: url("../images/circulo.png?crc=4058309779");
    width: 100%;
  }
  #u1292-4popup {
    margin-top: 170px;
    height: 78px;
    width: 7.38%;
    margin-left: 92.54%;
  }
  #u1292-3 {
    margin-left: 11.84%;
    margin-right: 11.836070424619013%;
  }
  #u3068 {
    padding-bottom: 100px;
    margin-top: -5%;
    width: 100%;
    left: 0%;
    margin-left: 0%;
  }
  #pu3080 {
    z-index: 78;
    margin-right: -10000px;
    margin-top: 160px;
    width: 24.71%;
    margin-left: 14.79%;
  }
  #u3080 {
    height: 330px;
    background-image: url("../images/persona.png?crc=17212693");
    position: relative;
    width: 95.96%;
  }
  #u3100-8 {
    width: 100%;
  }
  #u3092 {
    margin-right: -10000px;
    margin-top: 236px;
    width: 0.34%;
    left: 40.82%;
  }
  #u3096-9 {
    margin-right: -10000px;
    margin-top: 253px;
    width: 45.81%;
    left: 50.67%;
  }
  #u3104-9 {
    margin-top: 80px;
    width: 63.85%;
    left: 0%;
    margin-left: 19.71%;
  }
  #buttonu3108 {
    padding-bottom: 25px;
    margin-top: 14px;
    width: 24.91%;
    margin-left: 39.15%;
  }
  #buttonu3108:hover {
    margin-top: 14px;
    width: 24.91%;
    margin-left: 39.15%;
  }
  #buttonu3108.ButtonSelected {
    margin-top: 14px;
    width: 24.91%;
    margin-left: 39.15%;
  }
  #u3109 {
    background-image: url("../images/u3109.png?crc=3897288818");
    width: 73%;
    left: 17.92%;
    background-size: 100%;
  }
  #u3109 .fluid_height_spacer {
    padding-bottom: 12.82051282051282%;
  }
  #buttonu3108:hover #u3109 {
    background-image: url("../images/u3109-r.png?crc=3897288818");
    background-size: 100%;
  }
  .css_verticalspacer .verticalspacer {
    height: calc(100vh - 3648px);
  }
  #pu923 {
    margin-right: -10000px;
    margin-top: -2316px;
    width: 100%;
  }
  #u923 {
    height: 887px;
    position: relative;
    width: 100%;
  }
  #u135 {
    min-height: 97px;
    padding-bottom: 53px;
  }
  #u7595-5 {
    margin-top: 59px;
    width: 37.09%;
    left: 31.1%;
  }
  #u135-bw {
    min-height: 97px;
    margin-top: 1430px;
  }
  .verticalspacer {
    min-height: 1px;
  }
}
@media (min-width: 961px) and (max-width: 1068px) {
  .input-form {
    width: 90%;
  }
  .text-area {
    width: 90%;
  }
  .navbar {
    width: 100vw;
    margin-left: -30px;
  }
  .espacio {
    padding-top: 70px;
  }
  #muse_css_mq {
    background-color: #00042c;
  }
  #bp_1068.active {
    display: block;
  }
  #page {
    min-height: 3526px;
    max-width: 1068px;
  }
  #ppu269 {
    z-index: 0;
    margin-right: -10000px;
    width: 113.58%;
    margin-bottom: 100px !important;
  }
  #pu269 {
    z-index: 5;
    width: 100%;
  }
  #u269 {
    min-height: 826px;
  }
  #u269_align_to_page {
    padding-top: 14px;
    padding-bottom: 95px;
  }
  #pu7715 {
    position: relative;
    width: 100%;
  }
  #u7715 {
    width: 16.48%;
    left: 1.32%;
  }
  #u7715 .fluid_height_spacer {
    padding-bottom: 32.95454545454545%;
  }
  #u7709 {
    background-image: url("../images/logo_full-u7709-fr2.png?crc=3779403357");
    width: 16.48%;
    left: 1.32%;
  }
  #u7709 .fluid_height_spacer {
    padding-bottom: 30.113636363636363%;
  }
  #u352-8 {
    margin-left: 50%;
    left: -224.99999999999997px;
    top: 50px;
  }
  #u375-4 {
    margin-top: 130px;
    width: 70.42%;
    margin-left: 14.8%;
    left: -25px;
  }
  #u269-bw {
    min-height: 826px;
    left: 0px;
    margin-left: 0px;
  }
  #u628 {
    position: relative;
    margin-right: -10000px;
    margin-top: 726px;
    width: 88.05%;
    left: 0%;
    margin-left: 0%;
  }
  #pu693-6 {
    z-index: 30;
    padding-bottom: 0px;
    margin-bottom: -2px;
    margin-right: -10000px;
    margin-top: 222px;
    width: 61.71%;
  }
  #u693-6 {
    width: 37.79%;
    left: 0px;
    margin-left: 251px;
  }
  #u949-6 {
    margin-top: 117px;
    margin-left: 81.04%;
    left: -570px;
    top: 200px;
  }
  #u679-11 {
    margin-right: -10000px;
    margin-top: 64px;
    width: 32.78%;
    margin-left: 33.62%;
    left: 270px;
  }
  #u950-10 {
    margin-right: -10000px;
    margin-top: 1417px;
    width: 33.31%;
    left: 7.09%;
    margin-left: 0%;
  }
  #u958 {
    width: 522px;
    height: 407px;
    margin-right: -10000px;
    margin-top: 1314px;
    margin-left: 44.03%;
  }
  #u1060 {
    height: 298px;
    background-image: url("../images/logo_full-u1060-fr2.png?crc=226386005");
    position: relative;
    margin-right: -10000px;
    margin-top: 1819px;
    width: 35.37%;
    left: 47.08%;
    margin-left: 0%;
  }
  #u1132-4 {
    width: 36.03%;
    left: 6.02%;
    margin: 2029px -10000px -1px 0%;
    top: -80px;
  }
  #slideshowu1285 {
    margin-top: 12px;
    width: 78.74%;
    left: 0%;
    margin-left: 13.03%;
  }
  #u1310-4 {
    min-height: 62px;
    background-image: url("../images/circulo-u1310-4-fr.png?crc=164564301");
    width: 100%;
  }
  #u1310-4popup {
    margin-top: 170px;
    height: 82px;
    width: 6.08%;
    left: -8%;
  }
  #u1310-3 {
    margin-left: 17.13%;
    margin-right: 17.127980268566738%;
  }
  #pu1293 {
    z-index: 59;
    margin-right: -10000px;
    width: 93.3%;
    margin-left: 6.71%;
  }
  #u1293popup {
    width: 891px;
    height: 376px;
    margin-right: -10000px;
  }
  #u1293,
  #u1298,
  #u1450,
  #u1481,
  #u1512,
  #u1543 {
    width: 891px;
    height: 376px;
  }
  #u1298_img,
  #u1450_img,
  #u1481_img,
  #u1512_img,
  #u1543_img {
    margin-top: 5%;
    width: 80%;
    height: 80%;
  }
  #u1292-4 {
    min-height: 62px;
    background-image: url("../images/circulo-u1292-4-fr.png?crc=4138372206");
    width: 100%;
  }
  #u1292-4popup {
    margin-top: 170px;
    height: 82px;
    width: 6.74%;
    margin-left: 90%;
  }
  #u1292-3 {
    margin-left: 16.65%;
    margin-right: 16.645859342488535%;
  }
  #u3068 {
    padding-bottom: 100px;
    margin-top: -10%;
    width: 88.05%;
    left: 0%;
    margin-left: 0%;
  }
  #pu3080 {
    z-index: 78;
    margin-right: -10000px;
    margin-top: 160px;
    width: 24.72%;
    margin-left: 14.8%;
  }
  #u3080 {
    height: 330px;
    background-image: url("../images/persona-u3080-fr.png?crc=392430629");
    position: relative;
    width: 95.84%;
  }
  #u3100-8 {
    width: 99.63%;
  }
  #u3092 {
    margin-right: -10000px;
    margin-top: 236px;
    width: 0.38%;
    left: 40.83%;
  }
  #u3096-9 {
    margin-right: -10000px;
    margin-top: 193px;
    width: 45.79%;
    left: 50.66%;
  }
  #u3104-9 {
    margin-top: 0px;
    width: 56.15%;
    left: 0%;
    margin-left: 17.32%;
  }
  #buttonu3108 {
    padding-bottom: 25px;
    margin-top: 14px;
    width: 21.93%;
    margin-left: 34.47%;
  }
  #buttonu3108:hover {
    margin-top: 14px;
    width: 21.93%;
    margin-left: 34.47%;
  }
  #buttonu3108.ButtonSelected {
    margin-top: 14px;
    width: 21.93%;
    margin-left: 34.47%;
  }
  #u3109 {
    background-image: url("../images/u31092.png?crc=453813127");
    width: 72.94%;
    left: 18.05%;
    background-size: 100%;
  }
  #u3109 .fluid_height_spacer {
    padding-bottom: 36.08247422680412%;
  }
  #buttonu3108:hover #u3109 {
    background-image: url("../images/u3109-r2.png?crc=453813127");
    background-size: 100%;
  }
  .css_verticalspacer .verticalspacer {
    height: calc(100vh - 3852px);
  }
  #pu923 {
    margin-bottom: -6px;
    margin-right: -10000px;
    margin-top: -2323px;
    width: 100%;
  }
  #u923 {
    height: 887px;
    position: relative;
    width: 100%;
    margin-top: -360px;
  }
  #u135 {
    min-height: 91px;
    padding-bottom: 59px;
  }
  #u7595-5 {
    margin-top: 53px;
    width: 37.08%;
    left: 31.09%;
  }
  #u135-bw {
    min-height: 91px;
    margin-top: 1436px;
  }
  body {
    overflow-x: hidden;
  }
  .verticalspacer {
    min-height: 1px;
  }
}
@media (min-width: 601px) and (max-width: 960px) {
  .texto-neuro {
    width: 100%;
    margin-left: 0px;
    text-align: center;
    margin-top: 50px;
    color: #ffee00;
    font-weight: 800;
  }
  .neuronapng {
    position: relative !important;
    z-index: 100000 !important;
    left: 86%;
    top: 970px;
  }
  .input-form {
    padding: 20px;
    margin: 0.75%;
    width: 91%;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.8);
  }
  #muse_css_mq {
    background-color: #0003c0;
  }
  #bp_960.active {
    display: block;
  }
  #page {
    min-height: 4219px;
    max-width: 960px;
  }
  #ppu923 {
    z-index: 0;
    margin-right: -10000px;
    width: 101.05%;
  }
  #pu923 {
    width: 98.97%;
    margin-left: 0%;
  }
  #u923 {
    min-height: 1184px;
    padding-bottom: 64px;
  }
  #u923_align_to_page {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;
  }
  #u958 {
    width: 402px;
    height: 257px;
    margin-right: -10000px;
    margin-top: 803px;
    margin-left: 50%;
    left: -206px;
  }
  #u1060 {
    width: 319px;
    height: 147px;
    background-image: url("../images/logo_full-u1060-fr3.png?crc=4175697325");
    position: relative;
    margin-right: -10000px;
    margin-top: 1037px;
    margin-left: 50%;
    left: 141px;
  }
  #u923-bw {
    z-index: 4;
    min-height: 1184px;
    margin-top: 1050px;
  }
  #u269 {
    min-height: 623px;
    padding-bottom: 77px;
  }
  #pu7715 {
    margin-right: -10000px;
    margin-top: 14px;
    width: 16.46%;
    margin-left: 1.36%;
  }
  #u7715 .fluid_height_spacer {
    padding-bottom: 32.91139240506329%;
  }
  #u7709 {
    background-image: url("../images/logo_full-u7709-fr3.png?crc=3815352699");
    width: 100%;
  }
  #u7709 .fluid_height_spacer {
    padding-bottom: 30.37974683544304%;
  }
  #pu352-8 {
    z-index: 6;
    margin-right: -10000px;
    margin-top: 62px;
    width: 55.01%;
    margin-left: 22.5%;
  }
  #u352-8 {
    margin-left: 50%;
    left: -224.99999999999997px;
    top: 50px;
  }
  #u375-4 {
    margin-top: 176px;
  }
  #u269-bw {
    min-height: 623px;
  }
  #u628 {
    min-height: 710px;
  }
  #u628_align_to_page {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;
    padding-top: 38px;
    padding-bottom: 156px;
  }
  #u693-6 {
    width: 68.75%;
    margin-left: 15.63%;
    left: -7px;
  }
  #u679-11 {
    top: -1px;
    margin-bottom: -1px;
    left: 25%;
  }
  #u628-bw {
    z-index: 18;
    min-height: 710px;
    margin-top: 678px;
  }
  #u949-6 {
    margin-right: -10000px;
    margin-top: 1228px;
    margin-left: 50%;
    left: -329.9999999999999px;
  }
  #u950-10 {
    margin-right: -10000px;
    margin-top: 1413px;
    margin-left: 50%;
    left: -240.9999999999999px;
  }
  #u1132-4 {
    left: -248.9999999999999px;
    margin: 2263px -10000px -1px 50%;
  }
  #pu3068 {
    z-index: 3;
    width: 100%;
    left: 0%;
    margin-left: -1.04%;
  }
  #u3068 {
    margin-right: -10000px;
    margin-top: 397px;
    width: 100%;

    padding-bottom: 180px;
  }
  #u3068 .fluid_height_spacer {
    padding-bottom: 82.06185567010309%;
  }
  #slideshowu1285 {
    margin-right: -10000px;
    width: 98.97%;
    left: 1.04%;
  }
  #u7715,
  #u1293 {
    width: 100%;
  }
  #u1293popup {
    height: 427px;
    margin-right: -10000px;
    width: 100%;
  }
  #u1481_img {
    width: 67.19%;
    padding: 3.0208333333333335% 5.458333333333332% 7.8125% 5.354166666666668%;
  }
  #u1298_img,
  #u1450_img,
  #u1512_img {
    width: 67.3%;
    padding: 5.416666666666667% 5.354166666666668%;
  }
  #u1298,
  #u1450,
  #u1481,
  #u1512,
  #u1543 {
    min-height: 5px;
    width: 100%;
  }
  #u1543_img {
    width: 67.4%;
    padding: 4.270833333333333% 16.25% 6.5625% 5.354166666666668%;
  }
  #u1310-4 {
    top: -250px;
    left: -80px;
    width: 52px;
    height: 57px;
    background-image: url("../images/circulo-u1310-4-fr2.png?crc=4287691846");
  }
  #u1310-4popup {
    margin-top: 387px;
    margin-left: 26px;
    width: 52px;
    height: 77px;
  }
  #u1310-3 {
    margin-left: 19.06%;
    margin-right: 19.054878048780488%;
  }
  #u1292-4 {
    width: 54px;
    height: 58px;
    background-image: url("../images/circulo-u1292-4-fr2.png?crc=4071301965");
    margin-left: 100%;
    left: 0px;
  }
  #u1292-4popup {
    margin-top: 387px;
    width: 54px;
    height: 78px;
    margin-left: 75%;
    top: -250px;
  }
  #u1292-3 {
    margin-left: 18.52%;
    margin-right: 18.51851851851852%;
  }
  #u3080 {
    height: 330px;
    background-image: url("../images/persona-u3080-fr2.png?crc=418115919");
    position: relative;
    margin-right: -10000px;
    margin-top: 600px;
    width: 23.51%;
    left: 5%;
  }
  #u3092 {
    margin-right: -10000px;
    margin-top: 367px;
    width: 0.31%;
    left: 41.35%;
  }
  #u3096-9 {
    margin-right: -10000px;
    margin-top: 619px;
    left: 30%;
  }
  #u3100-8 {
    margin-right: -10000px;
    margin-top: 864px;
    width: 24.44%;
    left: 5%;
  }
  #u3104-9 {
    left: 0%;
    margin-left: 14.64%;
  }
  #buttonu3108 {
    padding-bottom: 25px;
    margin-top: 22px;
    width: 24.64%;
    margin-left: 40%;
  }
  #buttonu3108:hover {
    margin-top: 22px;
    width: 24.64%;
    margin-left: 40%;
  }
  #buttonu3108.ButtonSelected {
    margin-top: 22px;
    width: 24.64%;
    margin-left: 33.92%;
  }
  #u3109 {
    background-image: url("../images/u31093.png?crc=4230978118");
    width: 72.81%;
    left: 18%;
    background-size: 100%;
  }
  #u3109 .fluid_height_spacer {
    padding-bottom: 40.229885057471265%;
  }
  #buttonu3108:hover #u3109 {
    background-image: url("../images/u3109-r3.png?crc=4230978118");
    background-size: 100%;
  }
  .css_verticalspacer .verticalspacer {
    height: calc(100vh - 4134px);
  }
  #u135 {
    min-height: 91px;
    padding-bottom: 59px;
  }
  #u7595-5 {
    margin-top: 53px;
    width: 37.09%;
    left: 31.05%;
  }
  #u135-bw {
    min-height: 91px;
    margin-bottom: -6px;
  }
  body {
    overflow-x: hidden;
  }
  .verticalspacer {
    min-height: 85px;
  }
}
@media (max-width: 600px) {
  .texto-neuro {
    width: 90vw;
    margin-left: 0px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 20px;
    color: #ffee00;
    font-weight: 800;
  }
  .neuronapng {
    bottom: 380px;
  }
  .navbar {
    width: 100vw;
    margin-left: -5px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .input-form {
    width: 91%;
  }
  #muse_css_mq {
    background-color: #0001f4;
  }
  #bp_500.active {
    display: block;
  }
  #page {
    min-height: 4603px;
    max-width: 500px;
  }
  #ppu923 {
    z-index: 0;
    margin-right: -10000px;
    width: 100%;
  }
  #pu923 {
    width: 0.01px;
    left: 0px;
    margin-left: 0px;
  }
  #u923 {
    min-height: 1146px;
  }
  #u923_position_content {
    padding-top: 379px;
    padding-bottom: 161px;
    width: 100%;
  }
  #u950-10 {
    width: 96.2%;
    margin-left: 1.9%;
    left: 10px;
  }
  #u958 {
    width: 332px;
    height: 205px;
    margin-top: 11px;
    margin-left: 50%;
    left: -142px;
  }
  #u923-bw {
    z-index: 4;
    min-height: 1146px;
    margin-top: 1050px;
  }
  #u269 {
    min-height: 699.7496671105195px;
    padding-bottom: 0px;
  }
  #u269_align_to_page {
    padding-top: 14px;
    padding-bottom: 85px;
  }
  #pu7715 {
    position: relative;
    width: 100%;
  }
  #u7715 {
    width: 16.41%;
    left: 1.41%;
  }
  #u7715 .fluid_height_spacer {
    padding-bottom: 32.926829268292686%;
  }
  #u7709 {
    background-image: url("../images/logo_full-u7709-fr5.png?crc=3999875844");
    width: 16.41%;
    left: 1.41%;
  }
  #u7709 .fluid_height_spacer {
    padding-bottom: 30.48780487804878%;
  }
  #u352-8 {
    width: 93%;
    margin-left: 3.5%;
    left: -12px;
    margin-top: 150px;
  }
  #u375-4 {
    width: 90%;
    left: 7.01%;
  }
  #u269-bw {
    min-height: 699.7496671105195px;
  }
  #u628 {
    min-height: 684px;
  }
  #u923_align_to_page,
  #u628_align_to_page {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;
  }
  #u628_position_content {
    margin-bottom: -29px;
    padding-top: 22px;
    width: 100%;
  }
  #u693-6 {
    width: 68.61%;
    margin-left: 15.7%;
    left: 8px;
  }
  #u679-11 {
    margin-top: 15px;
    width: 92%;
    left: 3%;
  }
  #u949-6 {
    margin-top: 190px;
    width: 68%;
    margin-left: 16%;
    left: -5px;
  }
  #u628-bw {
    z-index: 18;
    min-height: 684px;
    margin-top: 678px;
  }
  #u1060 {
    height: 148px;
    background-image: url("../images/logo_full-u1060-fr5.png?crc=241009208");
  }
  #u1060-bw {
    z-index: 53;
    margin-top: 2108px;
    height: 148px;
  }
  #u1132-4 {
    margin-top: 40px;
    width: 99.4%;
    margin-left: 0.3%;
    left: 2px;
  }
  #pu3068 {
    z-index: 3;
    margin-top: 30px;
    width: 100%;
  }
  #u3068 {
    padding-top: 129px;
    padding-bottom: 333.4000000000001px;
    margin-right: -10000px;
    margin-top: 174px;
    width: 100%;
    left: 0%;
    margin-left: 0%;
  }
  #u3092 {
    width: 0.4%;
    margin-left: 40.8%;
  }
  #u3100-8 {
    margin-top: 364px;
    width: 88.4%;
    margin-left: 8%;
  }
  #u3096-9 {
    margin-top: 37px;
    width: 77.8%;
    margin-left: 15%;
  }
  #slideshowu1285 {
    padding-bottom: 0px;
    margin-right: -10000px;
    width: 100%;

    left: -60px;
  }
  #slideshowu1285_position_content {
    width: 100%;
    margin-left: 0%;
  }
  #u1298_img {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
  }
  #u1450_img {
    padding-left: 65px;
    padding-right: 65px;
    padding-bottom: 35px;
  }
  #u1481_img {
    padding-left: 60px;
    padding-right: 40px;
    padding-bottom: 20px;
  }
  #u1512_img {
    padding: 2px 80px 38px 60px;
  }
  #u1293,
  #u1293popup,
  #u1298,
  #u1450,
  #u1481,
  #u1512,
  #u1543 {
    width: 95vw;
    height: 220px;
  }
  #u1293 img,
  #u1293popup img,
  #u1298 img,
  #u1450 img,
  #u1481 img,
  #u1512 img,
  #u1543 img {
    width: 90%;
    height: 220px;
  }
  #u1543_img {
    padding-left: 68px;
    padding-right: 68px;
    padding-bottom: 38px;
  }
  #pu1310-4 {
    z-index: 70;
    margin-top: -6px;
    width: 61.6%;
    margin-left: 20.8%;
  }
  #u1310-4 {
    width: 52px;
    height: 62px;
    background-image: url("../images/circulo-u1310-4-fr2.png?crc=4287691846");
  }
  #u1310-4popup {
    width: 52px;
    height: 82px;
  }
  #u1310-3 {
    margin-left: 19.06%;
    margin-right: 19.054878048780488%;
  }
  #u1292-4 {
    width: 54px;
    height: 62px;
    background-image: url("../images/circulo-u1292-4-fr2.png?crc=4071301965");
  }
  #u1292-4popup {
    width: 54px;
    height: 82px;
    margin-left: 150px;
  }
  #u1292-3 {
    margin-left: 18.52%;
    margin-right: 18.51851851851852%;
  }
  #u3080 {
    height: 317px;
    background-image: url("../images/persona.png?crc=17212693");
  }
  #u3080-bw {
    z-index: 78;
    margin-top: 355px;
    height: 317px;
    left: 0px;
    margin-left: 0px;
  }
  #u3104-9 {
    margin-right: -10000px;
    margin-top: 1485px;
    width: 76%;
    left: 14%;
    margin-left: 0%;
  }
  #buttonu3108 {
    padding-bottom: 9px;
    margin-top: 34px;
    width: 47.2%;
    margin-left: 26.41%;
  }
  #buttonu3108:hover {
    margin-top: 34px;
    width: 47.2%;
    margin-left: 26.41%;
  }
  #buttonu3108.ButtonSelected {
    margin-top: 34px;
    width: 47.2%;
    margin-left: 26.41%;
  }
  #u3109 {
    background-image: url("../images/u31096.png?crc=4110907718");
    width: 85.6%;
    left: 7.21%;
    background-size: 100%;
  }
  #u3109 .fluid_height_spacer {
    padding-bottom: 34.65346534653465%;
  }
  #buttonu3108:hover #u3109 {
    background-image: url("../images/u3109-r6.png?crc=4110907718");
    background-size: 100%;
  }
  .css_verticalspacer .verticalspacer {
    height: calc(100vh - 4588px);
  }
  #u135 {
    min-height: 121px;
    padding-bottom: 29px;
  }
  #u7595-5 {
    margin-top: 53px;
    width: 37%;
    left: 31%;
  }
  #u135-bw {
    min-height: 121px;
    margin-bottom: -6px;
  }
  body {
    overflow-x: hidden;
    min-width: 320px;
  }
  .verticalspacer {
    min-height: 14px;
  }
}
