@media (max-width: 1400px) {
  .navbar {
    width: 98.6vw;
  }
  #slideshowu1285 {
    margin-left: 10% !important;
  }

  #u3080 {
    height: 240px !important;
  }

  .input-form {
    width: 40%;
  }
  .bg-form {
    margin-top: -100px;
  }
}
@media (max-width: 950px) {
  .contenedor-neuro {
    flex-direction: column;
  }
  .img-izq {
    width: 100%;
    padding: 50px;
    margin: 0px;
    margin-top: 0px;
  }
  .img-der {
    width: 90%;
    margin: 0px;
    padding: 50px;
  }
}
